<!DOCTYPE html>
<html ng-app="methylation-station" ng-controller="app as app">
  <head>
    <meta charset="UTF-8">
    <title>Methylation Station</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css" media="screen" type="text/css">
    <link rel="icon" type="image/png" href="favicon.png">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col col-sm-12">
          <h1>
            Methylation Station
            <small>All aboard for the CpG islands! 🏝</small>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <label class="btn btn-primary open-file">
                <span class="glyphicon glyphicon-open-file"></span>
                Open an alignment
                <input type="file" file-model
                  file-name="app.fasta.name"
                  file-data="app.fasta.text"
                  file-data-as="Text">
              </label>

              <div class="actions">
                <a class="btn btn-success" target="_blank"
                  download="{{ app.alignment.name }}.svg"
                  ng-click="$event.target.href = !viz.rendered ? '' : viz.toURL()"
                  ng-disabled="!viz.rendered">
                  <span class="glyphicon glyphicon-picture"></span>
                  Export image as SVG
                </a>

                <a class="btn btn-success" target="_blank"
                  download="{{ app.alignment.name }}.csv"
                  ng-click="$event.target.href = !app.alignment.cpgSites ? '' : app.tableToURL()"
                  ng-disabled="!app.alignment.cpgSites">
                  <span class="glyphicon glyphicon-list-alt"></span>
                  Export spreadsheet
                </a>

                <a class="btn btn-success" target="_blank"
                  download="{{ app.alignment.name }}.csv"
                  ng-click="$event.target.href = !app.alignment.analysisSites ? '' : app.dataToURL()"
                  ng-disabled="!app.alignment.analysisSites">
                  <span class="glyphicon glyphicon-download-alt"></span>
                  Download raw data
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-12 explanation" ng-if="!app.fasta.name">
          <p>
            This app is for analyzing and visualizing DNA methylation data.
          </p>

          <p>
            Get started by loading a
            <a href="https://en.wikipedia.org/wiki/Multiple_sequence_alignment">multiple-sequence
            alignment</a> in <a href="https://en.wikipedia.org/wiki/FASTA_format">FASTA format</a>.
            The first sequence in the alignment should be an (unconverted)
            reference sequence.  The remaining sequences must be
            <a href="https://en.wikipedia.org/wiki/Bisulfite_sequencing">bisulfite-converted</a>.
          </p>

          <p>
            All sequences should read 5′ → 3′ left to right, so that
            <a href="https://en.wikipedia.org/wiki/CpG_site">CpG sites</a>
            appear as <tt>CG</tt> in your file.  Sequence contexts other than CpG,
            <a href="https://en.wikipedia.org/wiki/DNA_methylation#In_plants">such
            as those occurring in plants</a>, are not currently considered.
          </p>

          <p>
            Sequence names must be unique within the alignment.
          </p>

          <p>
            Try it out for yourself by
            <a href="#" ng-click="app.loadURL('examples/HXB2-ENV.fasta', 'Example: HXB2 ENV')">loading an example alignment</a>
            (or <a href="examples/HXB2-ENV.fasta">download the FASTA</a>).
          </p>
        </div>
        <div class="col col-sm-12 col-md-9">
          <div ng-if="app.error" class="alert alert-danger" role="alert" ng-cloak>
            😟 {{ app.error }}
          </div>
          <h4 ng-if="app.fasta.name" ng-cloak>
            {{ app.fasta.name }}
            <small ng-if="app.alignment" ng-cloak>
              {{ app.alignment.sequences[0].seq.length | number }}bp alignment of
              {{ app.alignment.sequences.length | number }} sequences
            </small>
          </h4>
          <figure>
            <methylation-viz
              data="app.alignment.filteredSites"
              rendered="viz.rendered"
              to-url="viz.toURL">
            </methylation-viz>
            <figcaption ng-if="viz.rendered" ng-cloak>
              Black circles are CpG sites.  Those which are filled are methylated.
              <em ng-if="app.filter.hideNovelCpG">Non-reference (novel) CpG sites are not shown.</em>

              Small red circles are bisulfite-conversion
              failures<em ng-if="app.filter.hideCpH"> (currently hidden)</em>.

              Site locations refer to alignment base positions.
            </figcaption>
          </figure>
        </div>
        <div class="col col-sm-6 col-md-3" ng-if="viz.rendered" ng-cloak>
          <div class="panel panel-default small">
            <div class="panel-heading">
              Visualization options
            </div>
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="app.filter.hideCpH" ng-change="app.update()">
                  Hide failed conversions
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="app.filter.hideNovelCpG" ng-change="app.update()">
                  Hide non-reference CpG sites
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="app.sortByMethylation" ng-change="app.update()">
                  Sort by percent methylated
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/vendor/d3-3.5.5.min.js"></script>
  <script src="js/vendor/vega-2.6.5.min.js"></script>
  <script src="js/vendor/datalib-0.1.14.min.js"></script>
  <script src="js/vendor/angular-1.6.1.min.js"></script>
  <script src="js/methylation-viz-spec.js"></script>
  <script src="js/alignment.js"></script>
  <script src="js/fileModel.js"></script>
  <script src="js/main.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/directives.js"></script>
</html>
<!-- vi: set ts=2 sw=2 : -->
